<!DOCTYPE html>
<html>
  <head>
    <title>[[[page:title()]]]</title>
    <meta http-equiv = "Content-Type" content = "text/html; charset=utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script>
      $(document).bind("mobileinit", function(){
        $.extend(  $.mobile , {
          /* We must disable ajax loading of pages. Otherwise, the 
             javascript code emitted by nitrogen is never executed.
          */
          ajaxEnabled: true
        });
      });
    </script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.js"></script>
    <script src='/nitrogen/livevalidation.js' type='text/javascript' charset='utf-8'></script>
    <script src='/nitrogen/nitrogen.js' type='text/javascript' charset='utf-8'></script>
    <script src='/nitrogen/nitrogen_jqm.js' type='text/javascript' charset='utf-8'></script>
  </head>
  <body>
    <div data-role="page" id="pagediv" data-code="[[[script]]]">
      <div data-role="header"> 
	<h1>[[[page:title()]]]</h1> 
      </div> 
      
      <div data-role="content">
	[[[page:layout()]]]
      </div>
      
      <div data-role="footer"> 
	<h4>Page Footer</h4> 
      </div>
    </div>

    <script>
    </script>
  </body>
</html>
